@model Agenda.Models.atributos
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "About";
}
<div class="container white-bg rounded">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Aqui va algo pero todavia falta ese algo -Albert Einstein, 2018</p>

    </div>